version: 1.0.{build}
branches:
  only:
  - master
image: Visual Studio 2017
configuration: Release
before_build:
  - cmd: nuget restore . # NuGet's are restored on build by VS
  - echo nuget command ended
build_script:
- ps: msbuild "Skunk.Website\Skunk.Website.csproj" /v:Minimal /T:Package /P:PackageLocation=vvSkunk_WebSite.zip
artifacts:
- path: Skunk.Website\vvSkunk_WebSite.zip
  name: vvSkunk
deploy:
- provider: Environment
  name: HK_AZWEB01
  Skunk.Website.deploy_website: true
  Skunk.Website.site_name: efabriek_nl_www
notifications:
- provider: Email
  to:
  - marc@marcvandewert.nl
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: false