version: 1.0.{build}
branches:
  only:
  - master
image: Visual Studio 2017
configuration: Release
before_build:
  - cmd: nuget restore . # NuGet's are restored on build by VS
  - echo nuget command ended
build_script:
- ps: msbuild "Skunk.Website\Skunk.Website.csproj" /v:Minimal /T:Package /P:PackageLocation="vvSkunk.WebSite.zip"
artifacts:
- path: vvSkunk.WebSite.zip
  name: vvSkunk
  type: zip
deploy:
- provider: Environment
  name: HK-AZWEB01
  site_name: efabriek_nl_www
notifications:
- provider: Email
  to:
  - marc@marcvandewert.nl
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: false