<rules>
  <clear />
  <rule name="CanonicalHostName">
    <match url="(.*)" />
    <conditions>
      <add input="{HTTP_HOST}" pattern="^www\.vvskunk\.nl$" negate="true" />
    </conditions>
    <action type="Redirect" url="http://www.vvskunk.nl/{R:1}" />
  </rule>
  <!--<rule name="beach" stopProcessing="true">
    <match url="^beach$" />
    <action type="Redirect" url="http://skunkonthebeach.strikingly.com" />
  </rule>-->
</rules>