@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Shared/_Layout.cshtml";

    var newsSelection = Model.AncestorOrSelf("Home")
        .DescendantsOrSelf("NewsItem")
        .Where("Visible")
        .OrderBy("CreateDate desc");
}

<div class="content">
    <h1>Nieuws archief</h1>
    <br />
    <ul>
        @foreach (var newsItem in newsSelection)
        {
            <li style="list-style: none;">
                <h5>
                    <a href="@newsItem.Url">@newsItem.Name - gepubliceerd: @newsItem.CreateDate.ToString("dddd d MMMM yyyy", System.Globalization.CultureInfo.GetCultureInfo("nl-NL"))</a>
                </h5>
            </li>
        }
    </ul>
</div>